{{> head }}
{{> navbar }}


<div class="row">

    <div class="col-8">
        <h1>Gaara</h1>
        <p>
            Hokague de la aldea de la arena.
        </p>
    </div>


    <div class="col-4">
        <img src="assets/img/gaara.png.jpg" class="img-thumbnail">
    </div>
    
</div>

{{> footer }}